{{ define "main" }}
<section class="section">
  <div class="columns is-desktop">
    <div class="column is-8 is-offset-2">
      <div class="columns is-vcentered">
        <div class="column">
          {{ partial "breadcrumbs" . }}
        </div>
        <div class="column is-narrow is-hidden-mobile">
          <a class="button is-danger is-outlined" onclick="window.print()">
            <span class="icon">
              <i class="far fa-file-pdf"></i>
            </span>
            <span>Download PDF</span>
          </a>
        </div>
      </div>

      <section class="section has-text-centered" style="padding: 4rem 0 3rem;">
        <div class="subtitle is-uppercase is-6 is-spaced" style="font-family: 'Nunito'">
          <strong>{{ .Params.course_code }}</strong>
          {{ .Params.course_name }}
        </div>
        <h1 class="title is-2" style="font-family: 'Lora'; font-style: italic; font-weight: normal;">
          {{ string .Params.test_type | replaceRE "UTS" "Ujian Tengah Semester" | replaceRE "UAS" "Ujian Akhir Semester" }}
        </h1>
      </section>

      <div class="has-text-centered-mobile" style="font-family: 'Nunito'">
        <span class="icon">
          <i class="fas fa-chalkboard-teacher"></i>
        </span>
        <span>{{ delimit .Params.lecturer ", " }}
          · Semester
          {{ .Params.semester }},
          {{ index $.Site.Data.tra_id.months (string .Date.Month) }}
          <strong>{{ .Date.Year }}</strong>
        </span>
      </div>

      <!-- Download button for mobile -->
      <section class="section is-hidden-tablet" style="padding: 1.5rem">
        <a class="button is-danger is-outlined is-fullwidth" onclick="window.print()">
          <span class="icon">
            <i class="far fa-file-pdf"></i>
          </span>
          <span>Download PDF</span>
        </a>
      </section>

      <hr style="margin-top: 0.5em; margin-bottom: 3rem;">

      <div class="content is-medium" style="font-family: 'Lora';">
        {{ .Content }}
      </div>
    </div>
  </div>

  <section class="section has-text-centered">
    <div>Update terakhir
      {{ .GitInfo.AuthorDate.Day }}
      {{ index $.Site.Data.tra_id.months (string .GitInfo.AuthorDate.Month) }}
      {{ .GitInfo.AuthorDate.Year }}.
      <a href="https://github.com/hmftitb/akademik/issues/new?template=kesalahan-berkas.md">Laporkan kesalahan</a> atau
      <a href="https://github.com/hmftitb/akademik/blob/master/content/{{ replace (.File.Path) " " "%20" }}">edit berkas ini</a>.</div>
  </section>
</section>
{{ end }}
